<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Mercado UANL</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body onresize="cambioDeDimensiones();">
<nav class="navbar bg-light navbar-light sticky-top">
    <button class="navbar-toggler" type="button" id="boton_movil_mostrar_barra">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-brand">Mercado UANL</div>
    <ul class="nav">
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="far fa-bell"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header" id="dropdown_nombre_usuario">

                </div>
                <a class="dropdown-item" href="#">
                    Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Index">Salir</a>
            </div>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-2 col-md-3 sidebar" id="sidebar">
            
            <form>
                <div class="input-group my-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control"/>
                </div>
                <input type="button" class="btn btn-secondary w-100" value="Buscar" disabled="true"/>
                            
            </form>
            <hr/>
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active my-2" href="#" id="btn-principal" >Principal</a>
                </li>
            </ul>

            <h6 class="encabezado-barra-lateral-menus my-3">VENDER</h6>
            <ul class="nav flex-column nav-pills">

                <li class="nav-item">
                    <a class="nav-link" href="#" id="btn-vender">Nueva publicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btn-mis-productos">Mis productos</a>
                </li>
                <li class="nav-item" href="#">
                    <a class="nav-link disabled" href="#" id="btn-calificaciones">Calificaciones y comentarios</a>
                </li>
            </ul>
            <h6 class="encabezado-barra-lateral-menus my-3">COMPRAR</h6>
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a href="#" class="nav-link" id="btn-ver-todo">Ver todo (más reciente)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" id="btn-mejor-calificado">Mejor calificado</a>
                </li>
                <li class="nav-item" id="ancla-categorias">
                    <a class="nav-link" href="#categorias" data-toggle="collapse" id="btn-por-categorias">Por categoria</a>
                    <div class="collapse" id="categorias">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Dulces y botanas</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Comida rápida</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Postres</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Electrónica y computación</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Accesorios de celular</a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Electrodomésticos</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:clickEnPorCategorias()" class="nav-link subelemento">Libros y material escolar</a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </li>
                <li class="nav-item" href="#">
                    <a class="nav-link disabled" href="#" id="btn-por-campus">Por campus</a>
                </li>


            </ul>
            
        </aside>
        <main role="main" class="col-lg-10 col-md-9" id="main-dashboard">
            @RenderBody()
        </main>
    </div>
</div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
</environment>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/fde197fc03.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: true)
</body>
</html>