/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
#body_login_signin{
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar{
  position: fixed;
  height: calc(100% - 56px);
  z-index:100;
  background-color: #f8f9fa;
  overflow-y: auto;
}
#boton_movil_mostrar_barra{
  display: none;
}
#main-dashboard{
  margin-left: auto;
}

@media (max-width: 780px) {
  .sidebar{
    height: calc(100% - 56px);
    z-index:100;
    background-color: #f8f9fa;
    display: none;
  }
  #boton_movil_mostrar_barra{
    display:block;
  }
}
.encabezado-barra-lateral-menus{
  font-size: 1.2em;
  color: #10707f;
}

/*divs dashboard*/
#vender,#calificaciones,#ver_todo,#mejor_calificado,#por_categoria,#por_campus,#por_facultad,#info-producto{
  display: none;
}
#principal{
  display:block;
}
.descripcion-producto-preformateado{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1em;
}
.contenedor_imagen{
  width:200px;
  height: 200px;
  overflow: hidden;
  margin:5px;
  position: relative;
}
.contenedor_imagen > .imagen-producto{
  position:absolute;
  left: -100%;
  right:-100%;
  top: -100%;
  bottom: -100%;
  margin:auto;
  width: 200px;
}