@page
@model mercado_uanl.Pages.Buscar

@{
    Layout = null;
}
@foreach (var producto in Model.productosEncontrados)
{
    <div class="resultado_busqueda">
        <a href="#">@producto.Nombre</a>
        <p>@if (producto.Descripcion.Length > 45)
           {
               @producto.Descripcion.Remove(45) @Html.Raw("...")
           }
           else
           {
               @producto.Descripcion
           }
    </div>
}