@page
@model mercado_uanl.Pages.ModificarPerfil

@{
    Layout = null;
}
<div class="contenedor_imagen">
    <img class="imagen-producto" src=""/>
</div>
<div class="grupo">
    <h4>@Model.usuario.NombreCompleto</h4>
    <h5>@Model.usuario.Correo</h5> 
</div>
<div class="grupo">
    <p>@Model.usuario.MensajePersonal</p>
</div>