@page
@model mercado_uanl.Pages.MostrarInfoProducto

@{
    Layout = null;
}

@if (Model.DesdePrincipal)
{
    <button class="btn btn-primary my-2" onclick="clickEnPrincipal();"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeVerTodo)
{
    <button class="btn btn-primary my-2" onclick="clickEnVerTodo();"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeBusqueda)
{
    <button class="btn btn-primary my-2" onclick="mostrarPantallaBusqueda();"><i class="fas fa-arrow-left"></i> Volver a búsqueda</button>
}
@if (Model.DesdeCU)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCompus(1);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeMederos)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCompus(2);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeSalud)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCompus(3);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeLinares)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCompus(4);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeSH)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCompus(5);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.DesdeAgro)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCompus(6);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdeDulces)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(1);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdeComidaRapida)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(2);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdePostres)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(3);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdeElectronica)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(4);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdeAccesorios)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(5);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdeElectrodomesticos)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(6);"><i class="fas fa-arrow-left"></i></button>
}
@if (Model.desdeLibros)
{
    <button class="btn btn-primary my-2" onclick="clickEnPorCategorias(7);"><i class="fas fa-arrow-left"></i></button>
}

<div class="card">
    <div class="card-header text-center">
        @Model.producto.Nombre
    </div>
    <div class="card-body">
        <pre class="descripcion-producto-preformateado card-text">@Model.producto.Descripcion</pre>
        Vendedor: @Model.ObtenerVendedorPorId(Model.producto.IdUsuario)
    </div>
    <div class="card-footer text-muted">
        <p>Precio: <strong>$@Model.producto.Precio</strong></p>
        <p>Contacto del vendedor: (proximamente)</p>
        <p>Evaluación: (proximamente)</p>
    </div>
</div>
<h4 class="my-4">Imagen del producto</h4>
<img src="@Model.producto.UrlFoto" width="80%"/>